{% macro paginate(pager, attributs) %}

    <div class="pagination pagination-right">
        <ul>
            {% if pager.pages.first not in pager.pages.pagesInRange %}
                <li>
                    <a {{ attributs|raw }} href="{{ pager.path(pager.pages.first) }}">{{ pager.pages.first }}</a>
                </li>
            {% endif %}

            {% if pager.pages.previous is defined %}
                <li>
                    <a {{ attributs|raw }} href="{{ pager.path(pager.pages.previous) }}">«</a>
                </li>
            {% endif %}

            {% if pager.pages.last == 0 %}
                <li class="active">
                    <a {{ attributs|raw }} href="{{ pager.path(pager.pages.last) }}">{{ pager.pages.last }}</a>
                </li>
            {% else %}
                {% for page in pager.pages.pagesInRange %}
                    <li {% if page == pager.pages.current %}class="active"{% endif %}>
                        <a {{ attributs|raw }} href="{{ pager.path(page) }}">{{ page }}</a>
                    </li>
                {% endfor %}
            {% endif %}

            {% if pager.pages.next is defined %}
                <li>
                    <a {{ attributs|raw }} href="{{ pager.path(pager.pages.next) }}">»</a>
                </li>
            {% endif %}

            <li class="disabled">
                <span>/</span>
            </li>

            <li>
                <a {{ attributs|raw }} href="{{ pager.path(pager.pages.last) }}">{{ pager.pages.last }}</a>
            </li>
        </ul>
    </div>

{% endmacro %}